name: CI

on:
  push:  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: ls
      run: ls; pwd; ls -a

    - name: Install dependencies
      run: |
        cd ..
        pip install -r requirements.txt





